<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tplify</title>
</head>
<body>
    <div id="app"></div>
    <script id="content" type="text/html">
        <ul>
          <% for(var i = 0; i < list.length; i++){
              var item = list[i];
              if(item.weight < 140){%>
                  <li class="low" data-weight='140'>我是{{item.name}}，我喜欢吃大{{item.food}}</li>
              <%}else{%>
                  <li class="{{item.weight && 0}}" data-weight={{item.weight + "k" + 'g'}}>我是'"{{= "<b>徐</b>" + '<b>小</b>' + item.name}}，我喜欢喝西北风</li>
              <%}%>
          <% } %>
      </ul>
    </script>
    <script src="../src/tplify.js"></script>
    <script>
        var data = {
            list: [
                { name: '小红', weight: 132, food: '鸡腿' }, 
                { name: '明明<p></p>', weight: 139, food: '猪蹄' }, 
                { name: '<b>楚楚</b>', weight: 141, food: '烧鸭' }
            ]
        };
        var template  = document.getElementById('content').innerHTML;
        document.getElementById('app').innerHTML = tplify(template, data);
    </script>
</body>
</html>